<nav class="black sticky-top darken-3">
  <div class="nav-wrapper ">
    <a href="/" class="brand-logo center"><img src="/images/logo.png" alt="" style="width: 150px;"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
      <i class="fas fa-bars"></i>
    </a>
    <ul class="sidenav black" id="mobile-demo">
      <li><a href="/" class="orange">Home</a></li>
      <li><a href="/test" class="orange">Test</a></li>

      <!-- admin stuff -->
      <%if(user.isAdmin == true){%>
        <li><a href="/admin" class="orange">Admin</a></li>
      <%}%>
        <!--end here-->

      <%if(user){%>
      <li class="">
        <a class="dropdown-trigger orange" href="#" data-target="navbarDropdown"><%= user.firstname %> <%= user.lastname %></a>
      </li>
      <div class="dropdown-content center" id="navbarDropdown">
        <a class="dropdown-item" href="/users/profile/<%= user._id %>">Profile</a>
        <a class="dropdown-item" href="/users/logout">SignOut</a>
      </div>
      <%}else{%>
      <li >
        <a class="dropdown-trigger orange" href="#" data-target="navbarDropdown">Account</a>
      </li>
      <div class="dropdown-content center" id="navbarDropdown">
        <a class="dropdown-item" href="/users/login">SignIn</a>
        <a class="dropdown-item" href="/users/register">SignUp</a>
      </div>
      <%}%>

      <li style="margin-top: 59vh;" ><p class="center">copyright &copy; <span class="orange-text">nHub</span>Test App 2020</p></li>
        </ul>
    </div>
</nav>