<nav class="black sticky-top darken-3">
    <div class="nav-wrapper userProfile">
        <a href="/" class="brand-logo center"><img src="/images/logo.png" alt="" style="width: 150px;"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="sidenav" id="mobile-demo">
            <li class="center pt-3 profile-img"><img src="/images/icons8-snapchat-48.png"  alt=""></li>
            <h4 class="orange-text center"><%= user.firstname %> <%= user.othername %> <%= user.lastname %></h4>
            <hr >
            <li><a href="/test" class="center white-text orange" >Take Test</a></li>
            <li><p class="orange mt-1 center" style="cursor: pointer;" data-toggle="modal" data-target="#profileDetailsModal">User PD</p> </li>
            <li><p class="green center" style="cursor: pointer;" data-toggle="modal" data-target="#settingsModal">Settings</p></li>
            <li><a href="/users/logout" class="btn red ">SignOut</a></li>
            <li style="margin-top: 29vh;" ><p class="center black-text">copyright &copy; <span class="orange-text">nHub</span>Test App 2020</p></li>
        </ul>
    </div>
</nav>