<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/materialize/css/materialize.css">
    <link rel="stylesheet" href="/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/quiz.css">
    <title>nHub Test app</title>
</head>

<body class="body">
    <div class="">
        <%- body %>
    </div>



    <script src="/bootstrap-4.3.1-dist/js/jquery_3.3.1.js"></script>
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="/bootstrap-4.3.1-dist/js/popper.min.js"></script> 
    <script src="/materialize/js/materialize.js"></script>
    <script src="/quizQst.js"></script>
    <script src="/quiz.js"></script>

    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
        $('.dropdown-trigger').dropdown()

    </script>

</body>

</html>